<div class="page-header">
  <h1>Experiments</h1>
</div>
<div class="row">
  <div class="span16">
  <%= link_tag to: '/experiment/new', name: 'Create Experiment', class: 'btn' %>
  </div>
  <hr>
</div>

<ul>
<% @experiments.each do |experiment| %>

    <li><%= experiment.id  %> - <%= experiment.name %> - <%= link_tag(:to => "/experiment/#{experiment.id}", :name => 'view') %>

<% end %>
</ul>