<div class="page-header">
  <h1>Experiments</h1>
</div>

<% unless @experiments.length == 0  %>
  <div class="row-fluid">
    <div class="span12">
      <%= erb :experiments_list %>
    </div>
  </div>
<% else %>
  <p>There are no experiments :(</p>
<% end %>

<div class="row">
  <div class="span16">
    <div class="actions">
      <%= link_tag to: '/experiment/new', name: 'Create Experiment', class: 'btn' %>
    </div>
  </div>
</div>
