<form>
  <fieldset>
    <legend>Create a new experiment</legend>
    <div class="clearfix">
      <label for="name">Name</label>
      <div class="input">
        <input class="xlarge" name="name" id="name" type="text"/>
      </div>
    </div><!-- /clearfix -->
  </fieldset>
</form>