<div class="page-header">
  <h1>Experiments</h1>
</div>

<% unless @experiments.length == 0  %>
  <div class="row-fluid">
    <div class="span12">
      <table class="table-bordered table-striped table">
        <thead>
          <tr>
            <th>
              ID
            </td>
            <th>
              Name
            </th>
            <th>
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          <% @experiments.each do |experiment| %>
            <tr>
              <td>
                <%= experiment.id  %>
              </td>
              <td>
                <%= link_tag(:to => "/experiment/#{experiment.id}", :name => experiment.name) %> 
              </td>
              <td>
                <%= experiment.description[0..300] rescue 'N/A' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p>There are no experiments :(</p>
<% end %>

<div class="row">
  <div class="span16">
    <div class="actions">
      <%= link_tag to: '/experiment/new', name: 'Create Experiment', class: 'btn' %>
    </div>
  </div>
</div>
