<div class="page-header">
  <h1>New Experiment</h1>
</div>

<form class="formbox">
  <fieldset>
    <legend>Information</legend>
    <div class="clearfix">
      <label for="name">Name</label>
      <div class="input">
        <input class="xlarge" name="name" id="name" type="text"/>
      </div>
    </div><!-- /clearfix -->
  </fieldset>
</form>