<div class="page-header">
  <h1>New Experiment</h1>
</div>

<div class="row">
  <div class="span8 offset4">
    
    <form action="/experiment/new" method="post">
      <fieldset>
        <legend>Information</legend>
        <div class="clearfix">
          <label for="name">Name</label>
          <div class="input">
            <input class="xlarge" name="name" id="name" type="text"/>
          </div>
        </div><!-- /clearfix -->
      </fieldset>
      
      <div class="actions">
        <input type="submit" value="Save" class="btn primary"/>
        <a class="btn" onclick="history.go(-1)">Cancel</a>
      </div>
    </form>
    
  </div>
</div>