<% if session[:flash] || session[:error] %>

  <div class="row-fluid">
    <div class="span12">

      <% if session[:flash] %>
        <div class="alert alert-success">
          <%= session[:flash] %>
        </div>
      <% end %>
    
      <% if session[:error] %>
        <div class="alert alert-error">
          <%= session[:error] %>
        </div>
      <% end %>
  
    </div>
  </div>

  <% session[:flash], session[:error] = nil, nil %>

<% end %>
