<% [:flash, :error, :info].each do |x| %>
  <% if session[x] %>
    <div class="row-fluid">
      <div class="span12">
        <div class="alert alert-<%= x == :flash ? :success : x.to_s %>">
          <%= session[x] %>
          <% session[x] = nil %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>