<html>
  <head>
    <title>Experiment Site</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
  </head>
  <body>
    
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand">
            Experiments
          </div>
          <ul class="nave">
            <li><a href="/">Home</a></li>
            <li><a href="/experiments">Experiments</a></li>
          <ul>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="span16">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      blah
    </footer>
    
  </body>
</html>