<!DOCTYPE HTML>
<html>
  <head>
    <title>Sequences</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <body>
    
    <%= erb :top_bar %>
    
    <div class="container">
      
      <%= erb :flash_bar %>
      
      <%= yield %>
      
    </div><!-- container -->
    
    <footer>
      <div class="row">
        <div class="span12">
          
        </div>
      </div>
    </footer>
    
  </body>
</html>