<!DOCTYPE HTML>
<html>
  <head>
    <title>Sequences</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
  </head>
  <body>
    
    <%= erb :top_bar %>
    
    <div class="container">
      
      <%= erb :flash_bar %>
      
      <div class="row">
        <div class="span16">
          <%= yield %>
        </div>
      </div>
      
    </div><!-- container -->
    
    <footer>
      <div class="row">
        <div class="span14 offset1">
          
        </div>
      </div>
    </footer>
    
  </body>
</html>