<div class="row-fluid">
  <h1 class="page-header">Login</h1>
</div>

<div class="row-fluid">
  <div class="span12">
    <fieldset>
      <form action="/session/new" method="post">
        
        <div class="clearfix">
          <label for="email">E-Mail:</label>
          <div class="input">
            <input type="text" name="email" placeholder="email@website.com"/>
          </div>
        </div>
        
        <div class="clearfix">
          <label for="password">Password</label>
          <div class="input">
            <input type="password" name="password"/>
          </div>
        </div>
        
        <div class="actions">
          <input type="submit" value="Login" class="btn-large btn-primary"/>
        </div>
      </form>
    <fieldset>
  </div>
</div>