<div class="page-header">
  <h1>
    Upload
  </h1>
</div>
<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="clearfix">
    <input type="file" name="file">
  </div>
  <div class="clearfix">
    <input type="submit" value= "Upload" class="btn success">
  </div>
</form>
