<form action="/user/new" method ="post">
  
  name     <input type="text" name="name">		<br />
  password <input type="text" name="password">	<br />
  email    <input type="text" name="email">			<br />
  <input type="submit" value="register">
</form>
