<div class="page-header">
  <h1>Users</h1>
</div>
<div class="row">
  <div class="span16">
    <% if @users.length == 0 %>
      <p>There are no users! <%= link_tag(:to => '/user/new', :name => 'create one!')%></p>
    <% end %>
  </div>
</div>
  
<div class="row">  
  <div class="span16">  
    <table class="bordered-table zebra-striped">
      <thead>
        <tr>
          <th><!-- icon--></th>
          <th>
            Name
          </th>
          <th>
            E-Mail
          </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <img src="<%= gravatar(:email => user[:email], :size => 16) %>">
            </td>
            <td>
              <%= link_tag(:to=>"/user/#{user.id}", :name => user.name) %>
            </td>
            <td>
              <%= link_tag(:to=>"mailto:#{user.email}", :name => user.email) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span16">
    <div class="actions">
      <a href="/user/new" class="btn">Register</a>
    </div>
  </div>
</div>