<% if @user %>
	<h2><%= @user.name %></h2>
	<p><%= @user.password %></p>
	
	<form action= "/user" method="post">
	  <p>Please enter the experiment name</p>
	  <input type="text" name="experiment">
	  <input type="submit">
	</form>
<% else %>
	<p>That user doesn't exist!</p>
<% end %>
