<div class="page-header">
  <h1>Users</h1>
</div>
  
<div class="row-fluid">
  <div class="span12">  
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><!-- icon--></th>
          <th>
            Name
          </th>
          <th>
            E-Mail
          </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <img src="<%= gravatar(:email => user[:email], :size => 16) %>">
            </td>
            <td>
              <%= link_tag(:to=>"/user/#{user.id}", :name => user.name) %>
            </td>
            <td>
              <%= link_tag(:to=>"mailto:#{user.email}", :name => user.email) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="actions">
      <a href="/user/new" class="btn">Add User</a>
    </div>
  </div>
</div>